:root {
  // primary color is correct
  // primary light color is correct

  // we still want an accent color yellow/gold/like the halo
  //
  --alwaysWhite: #fafafa;
  --whiteOrBlack: #fafafa;
  --blackOrWhite: #1f2023;

  --primary-color: #0c3860;
  --primary-light-color: #42628e;

  // --primary-dark-color: #001236;
  --accent-color: rgb(243, 213, 91);
  --primary-btn-foreground: #fafafa;
}

// body {
//   --color-background : #FAFAFA;
//   --color-foreground: #1F2023;

//   @media (prefers-color-scheme: dark) {
//     --color-background: #1F2023;
//     --color-foreground: #EFEFEF;
//   }

//   // background-color: var(--color-background);

// }

body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
  --header-foreground: var(--primary-color);

  &.dark {
    --color-background: #1f2023;
    --color-foreground: #efefef;

    --primary-color: #333333;
    // --primary-light-color: #8e8e8e;
    --primary-dark-color: #373737;

    --primary-light-color: #b71c1c;
    --accent-color: #b71c1c;
    --accent-light-color: #f05545;
    --accent-dark-color: #7f0000;

    --whiteOrBlack: #121212;
    --blackOrWhite: #fafafa;

    --header-foreground: var(--accent-color);
  }

  background-color: var(--color-background);
  color: var(--color-foreground);
}
