.dialog {
  min-width: 400px;
  color: var(--blackOrWhite);
}

.header {
  background-color: var(--primary-color);
  color: var(--alwaysWhite);
}

.content {
  // margin: 8px 4px 0 0;
  background-color: var(--primary-light-color);
  
  p {
    color: var(--alwaysWhite);
  }
  .text {
    // color: var(--blackOrWhite);
    white-space: pre-wrap;
  }
}
